body {
  background-color: #385170;
  display: flex;
  justify-content: center;
  padding: 50px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  max-width: 300px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 40%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #385170;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
.weather-app-details {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 30px 0;
}
.city {
  font-size: 25px;

  font-weight: bold;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temp {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}
.temp-container {
  display: flex;
}
.container-sidebar {
  width: 100%;
  min-width: 500px;
  background-color: #000000;
  padding: 20px 40px;
  position: relative;
  padding-bottom: 200px;
  color: #ffffff;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

.wrapper {
  display: flex;
  width: 1200px;
  min-width: 900px;
  overflow: hidden;
  border-radius: 16px;
}
